<div class="pagebody"><div class="pagebodystripemiddle">1) <a href="https://inspirehep.net/record/1408729">
    Ultraspinning limits and rotating hyperboloid membranes.
</a>
<br/>
By Robie A. Hennigar, David Kubizňák, Robert B. Mann, Nathan Musoke.<br/>
[arXiv:1512.02293 [hep-th]].<br/>
<a href="http://dx.doi.org/10.1016/j.nuclphysb.2015.12.017">10.1016/j.nuclphysb.2015.12.017</a>.<br/>
Nucl.Phys. B903 (2016) 400-417.<br/>
<br/>
2) <a href="https://inspirehep.net/record/1402795">
    On scalar curvature invariants in three dimensional spacetimes.
</a>
<br/>
By N.K. Musoke, D.D. McNutt, A.A. Coley, D.A. Brooks.<br/>
[arXiv:1511.01435 [gr-qc]].<br/>
<a href="http://dx.doi.org/10.1007/s10714-016-2022-9">10.1007/s10714-016-2022-9</a>.<br/>
Gen.Rel.Grav. 48 (2016) no.3,  27.<br/>
<br/>
3) <a href="https://inspirehep.net/record/1382457">
    Mathematical properties of a class of four-dimensional neutral signature metrics.
</a>
<br/>
By D. Brooks, N. Musoke, D. McNutt, A. Coley.<br/>

<a href="http://dx.doi.org/10.1016/j.geomphys.2015.06.003">10.1016/j.geomphys.2015.06.003</a>.<br/>
J.Geom.Phys. 97 (2015) 1-13.<br/>
<br/>
4) <a href="https://inspirehep.net/record/1375489">
    The Cartan-Karlhede algorithm for Godel-like spacetimes.
</a>
<br/>
By D. Brooks, D.D. McNutt, J.P. Simard, N. Musoke.<br/>
[arXiv:1506.03415 [gr-qc]].<br/>


<br/>
5) <a href="https://inspirehep.net/record/1365080">
    Ultraspinning limits and super-entropic black holes.
</a>
<br/>
By Robie A. Hennigar, David Kubizňák, Robert B. Mann, Nathan Musoke.<br/>
[arXiv:1504.07529 [hep-th]].<br/>
<a href="http://dx.doi.org/10.1007/JHEP06(2015)096">10.1007/JHEP06(2015)096</a>.<br/>
JHEP 1506 (2015) 096.<br/>
<br/>
6) <a href="https://inspirehep.net/record/1339422">
    Neutral signature Walker-CSI metrics.
</a>
<br/>
By A. Coley, N. Musoke.<br/>

<a href="http://dx.doi.org/10.1016/j.geomphys.2014.12.008">10.1016/j.geomphys.2014.12.008</a>.<br/>
J.Geom.Phys. 89 (2015) 74-81.<br/>
<br/>
7) <a href="https://inspirehep.net/record/1327359">
    Neutral signature Walker-VSI metrics.
</a>
<br/>
By A. Coley, S. Hervik, D. McNutt, N. Musoke, D. Brooks.<br/>

<a href="http://dx.doi.org/10.1088/0264-9381/31/3/035015">10.1088/0264-9381/31/3/035015</a>.<br/>
Class.Quant.Grav. 31 (2014) no.3,  035015.<br/>
<br/>
</div></div>