---
layout: default
---

<article class="post">

  <div class="post-content home-content">

    <div class="home-infobox">
      <img class="home-picture" src="{{ site.baseurl }}/assets/{{ page.image }}">
      <div class="home-contact">
        <div> Department of Physics </div> 
        <div> University of Auckland </div> 
        <div> New Zealand </div>
        <div> <a href="mailto:{{ site.email }}">{{ site.email }}</a> </div> 
      </div>
    </div>

    <div class="home-text">
      {{ content }}
    </div>
  
  </div>

</article>
