---
layout: default
---

<article class="post">

  <div class="post-content home-content">

    <div class="home-infobox">
      <img class="home-picture" src="{{ page.image | prepend: "/assets/" | prepend: site.baseurl }}">
      <div class="home-contact">
        <address>
          {% for address_line in site.physical_address %}
            <div>{{ address_line }}</div>
          {% endfor %}
        </address>
        <div> <a href="mailto:{{ site.email }}">{{ site.email }}</a> </div> 
      </div>
    </div>

    <div class="home-text">
      {{ content }}
    </div>
  
  </div>

</article>
